".source.apl":
	
	Function:
		prefix: "fn"
		body:   "∇${2:R ←} ${3:X} ${1:NAME} ${4:Y}\n\t$0\n∇"
	
	Operator:
		prefix: "op"
		body:   "∇${2:R ←} ${3:X} (${4:LOP} ${1:NAME} ${5:ROP}) ${6:Y}\n\t$0\n∇"
	
	Assignment:
		prefix: "ass"
		body:   "${1:⎕ }← ${2:VALUE}"
	
	Hashbang:
		prefix: "apl"
		body: "#!/usr/bin/env apl --script\n\n$1\n\n)OFF"
	
	
	# GNU APL extensions
	"GNU Heredoc: Plain":
		prefix: "hd"
		body:   "${1:result} ← '<?apl' '?>' ⎕INP '${2:RAWTEXT}'\n\t$0\n${2:RAWTEXT}"
	
	"GNU Heredoc: HTML":
		prefix: "html"
		body:   "${1:result} ← '<?apl' '?>' ⎕INP '${2:END-}HTML'\n\t$0\n${2:END-}HTML"


	# ASCII-fied mnemonics for each APL symbol
	⌶: body: "⌶", prefix: "I"
	⌷: body: "⌷", prefix: "[|"
	⌸: body: "⌸", prefix: "[=]"
	⌹: body: "⌹", prefix: "[:]"
	⌺: body: "⌺", prefix: "[<>]"
	⌻: body: "⌻", prefix: "[o]"
	⌼: body: "⌼", prefix: "[O]"
	⌽: body: "⌽", prefix: "|O"
	⌽: body: "⌽", prefix: "O|"
	⌾: body: "⌾", prefix: oO
	⌿: body: "⌿", prefix: "/-"
	⌿: body: "⌿", prefix: "-/"
	⍀: body: "⍀", prefix: "\\-"
	⍁: body: "⍁", prefix: "[/]"
	⍂: body: "⍂", prefix: "[\\]"
	⍃: body: "⍃", prefix: "[<]"
	⍄: body: "⍄", prefix: "[>]" 
	⍅: body: "⍅", prefix: "<-|"
	⍆: body: "⍆", prefix: "|->"
	⍇: body: "⍇", prefix: "[<-]"
	⍈: body: "⍈", prefix: "[->]"
	⍉: body: "⍉", prefix: "O\\"
	⍊: body: "⍊", prefix: "_|_"
	⍋: body: "⍋", prefix: "A" 
	⍌: body: "⍌", prefix: "[\\/]"
	⍍: body: "⍍", prefix: "[/\\]"
	⍎: body: "⍎", prefix: "|O"
	⍏: body: "⍏", prefix: "^|_"
	⍐: body: "⍐", prefix: "[^]"
	⍑: body: "⍑", prefix: "T"
	⍒: body: "⍒", prefix: "V"
	⍓: body: "⍓", prefix: "[/\\]"
	⍱: body: "⍱", prefix: "~v"
	⍲: body: "⍲", prefix: "~A"
	⍨: body: "⍨", prefix: ":S"
	⍡: body: "⍡", prefix: ":|--"
	⍧: body: "⍧", prefix: "cI"
	⍤: body: "⍤", prefix: ":o"
	⍥: body: "⍥", prefix: ":O"
	⍣: body: "⍣", prefix: ":*"
		 ⍔ ⍕ ⍖ ⍗ ⍘ ⍙ ⍚
	⍛ ⍜ ⍞ ⍟ ⍠  ⍢    ⍦   ⍩ ⍪ ⍫ ⍬ ⍭ ⍮ ⍯ ⍰  ⍳ ⍴ ⍵ ⍶ ⍷ ⍸ ⍹ ⍺ ⎕ ◊ ⍝

# Snippets scoped to heredocs containing foreign languages (like HTML)
".heredoc.apl .embedded":
	"GNU Heredoc: Embedded APL":
		prefix: "apl"
		body:   "<?apl $0 ?>"
