".source.apl":
	
	Function:
		prefix: "fn"
		body:   "∇${2:R ←} ${3:X} ${1:NAME} ${4:Y}\n\t$0\n∇"
	
	Operator:
		prefix: "op"
		body:   "∇${2:R ←} ${3:X} (${4:LOP} ${1:NAME} ${5:ROP}) ${6:Y}\n\t$0\n∇"
	
	Assignment:
		prefix: "ass"
		body:   "${1:⎕ }← ${2:VALUE}"
	
	Hashbang:
		prefix: "apl"
		body: "#!/usr/bin/env apl --script\n\n$1\n\n)OFF"
	
	
	# GNU APL extensions
	"GNU Heredoc: Plain":
		prefix: "hd"
		body:   "${1:result} ← '<?apl' '?>' ⎕INP '${2:RAWTEXT}'\n\t$0\n${2:RAWTEXT}"
	
	"GNU Heredoc: HTML":
		prefix: "html"
		body:   "${1:result} ← '<?apl' '?>' ⎕INP '${2:END-}HTML'\n\t$0\n${2:END-}HTML"


	# ASCII-fied mnemonics for each APL symbol
	⌶:  body: "⌶", prefix: "I"
	⌸:  body: "⌸", prefix: "[=]"
	⌹:  body: "⌹", prefix: "[:-]"
	⌺:  body: "⌺", prefix: "[<>]"
	⌻:  body: "⌻", prefix: "[o]"
	⌼:  body: "⌼", prefix: "[O]"
	⌽:  body: "⌽", prefix: "|O"
	⌽2: body: "⌽", prefix: "O|"
	⌾:  body: "⌾", prefix: "Oo"
	⌿:  body: "⌿", prefix: "/-"
	⌿2: body: "⌿", prefix: "-/"
	⍀:  body: "⍀", prefix: "\\-"
	⍁:  body: "⍁", prefix: "[/]"
	⍂:  body: "⍂", prefix: "[\\]"
	⍃:  body: "⍃", prefix: "[<]"
	⍄:  body: "⍄", prefix: "[>]" 
	⍅:  body: "⍅", prefix: "<-|"
	⍆:  body: "⍆", prefix: "|->"
	⍇:  body: "⍇", prefix: "[<-]"
	⍈:  body: "⍈", prefix: "[->]"
	⍉:  body: "⍉", prefix: "o\\"
	⍉2: body: "⍉", prefix: "O\\"
	⍉3: body: "⍉", prefix: "\\o"
	⍉4: body: "⍉", prefix: "\\O"
	⍊:  body: "⍊", prefix: "__|__"
	⍋:  body: "⍋", prefix: "A" 
	⍌:  body: "⍌", prefix: "[V]"
	⍓:  body: "⍓", prefix: "[A]"
	⍔:  body: "⍔", prefix: "[V_]"
	⍍:  body: "⍍", prefix: "[A_]"
	⍎:  body: "⍎", prefix: "_|O_"
	⍏:  body: "⍏", prefix: "^|_"
	⍏2: body: "⍏", prefix: "^|-"
	⍐:  body: "⍐", prefix: "[^|]"
	⍑:  body: "⍑", prefix: "|T"
	⍒:  body: "⍒", prefix: "V"
	⍱:  body: "⍱", prefix: "~v"
	⍲:  body: "⍲", prefix: "~^"
	⍨:  body: "⍨", prefix: ":S"
	⍨2: body: "⍨", prefix: ":~"
	⍡:  body: "⍡", prefix: ":T"
	⍧:  body: "⍧", prefix: "c|"
	⍧2: body: "⍧", prefix: "|c"
	⍤:  body: "⍤", prefix: ":o"
	⍥:  body: "⍥", prefix: ":O"
	⍣:  body: "⍣", prefix: ":*"
	◊:  body: "◊", prefix: "<>"
	⍝:  body: "⍝", prefix: "//"
	⍰:  body: "⍰", prefix: "[?]"
	⍳:  body: "⍳", prefix: "i"
	⍳2: body: "⍳", prefix: "l"
	⍸:  body: "⍸", prefix: "i_"
	⍸2: body: "⍸", prefix: "l_"
	⍴:  body: "⍴", prefix: "r"
	⍴2: body: "⍴", prefix: "p"
	⍵:  body: "⍵", prefix: "w"
	⍹:  body: "⍹", prefix: "w_"
	⍺:  body: "⍺", prefix: "a"
	⍶:  body: "⍶", prefix: "a_"
	⍷:  body: "⍷", prefix: "e_"
	⍦:  body: "⍦", prefix: "U|"
	⍦2: body: "⍦", prefix: "|U"
	⍕:  body: "⍕", prefix: "TO"
	⍬:  body: "⍬", prefix: "0~"
	⍬2: body: "⍬", prefix: "~0"
	⍮:  body: "⍮", prefix: ";_"
	⍯:  body: "⍯", prefix: "[!=]"
	⍚:  body: "⍚", prefix: "<>_"
	⍭:  body: "⍭", prefix: "|~"
	⍭2: body: "⍭", prefix: "~|"
	⍫:  body: "⍫", prefix: "V~"
	⍫2: body: "⍫", prefix: "~V"
	⍪:  body: "⍪", prefix: "-,"
	⍩:  body: "⍩", prefix: ":>"
	⍙:  body: "⍙", prefix: "A_"
	⍘:  body: "⍘", prefix: "'_"
	⍗:  body: "⍗", prefix: "[|v]"
	⍖:  body: "⍖", prefix: "-|v"
	⍛:  body: "⍛", prefix: "o_"
	⍜:  body: "⍜", prefix: "O_"
	⍞:  body: "⍞", prefix: "[']"
	⍟:  body: "⍟", prefix: "o*"
	⍟2: body: "⍟", prefix: "(*)"
	⍠:  body: "⍠", prefix: "[:]"
	⍢:  body: "⍢", prefix: ":V"
	−:  body: "−", prefix: "-"
	−2: body: "−", prefix: "minus"
	⌈:  body: "⌈", prefix: "|`"
	⌈2: body: "⌈", prefix: "ceil"
	⌈3: body: "⌈", prefix: "ceiling"
	⌊:  body: "⌊", prefix: "|_"
	⌊2: body: "⌊", prefix: "floor"
	¯:  body: "¯", prefix: "-^"
	¨:  body: "¨", prefix: ":^"
	←:  body: "←", prefix: "<-"
	→:  body: "→", prefix: "->"
	↑:  body: "↑", prefix: "^|"
	↓:  body: "↓", prefix: "|v"
	∇:  body: "∇", prefix: "_v"
	∊:  body: "∊", prefix: "e"
	∈:  body: "∈", prefix: "E"
	÷:  body: "÷", prefix: ":-"
	÷2: body: "÷", prefix: "/"
	×:  body: "×", prefix: "x"
	×2: body: "×", prefix: "X"
	×3: body: "×", prefix: "times"
	≠:  body: "≠", prefix: "/="
	≠2: body: "≠", prefix: "=/"
	≠3: body: "≠", prefix: "!="
	∘:  body: "∘", prefix: "o"
	∣:  body: "∣", prefix: "|"
	∧:  body: "∧", prefix: "^"
	∨:  body: "∨", prefix: "v"
	∩:  body: "n", prefix: "∩"
	∪:  body: "∪", prefix: "u"
	∼:  body: "∼", prefix: "~"
	≡:  body: "≡", prefix: "=="
	≢:  body: "≢", prefix: "!="
	≤:  body: "≤", prefix: "<="
	≥:  body: "≥", prefix: ">="
	⊂:  body: "⊂", prefix: "c"
	⊃:  body: "⊃", prefix: "c2"
	⊖:  body: "⊖", prefix: "o-"
	⊢:  body: "⊢", prefix: "|-"
	⊣:  body: "⊣", prefix: "-|"
	⊤:  body: "⊤", prefix: "T"
	⊥:  body: "⊥", prefix: "_|_"
	
	# "Cyclable" snippets
	⌷:  body: "⌷", prefix: "[|"
	⎕:  body: "⎕", prefix: "[]"
	⌷2: body: "⌷", prefix: "⎕"
	⎕2: body: "⎕", prefix: "⌷"
	⋄:  body: "⋄", prefix: "<>"
	⋄2: body: "⋄", prefix: "◊"
	◊2: body: "◊", prefix: "⋄"
	⋆:  body: "⋆", prefix: "*"
	○:  body: "○", prefix: "O"

# Snippets scoped to heredocs containing foreign languages (like HTML)
".heredoc.apl .embedded":
	"GNU Heredoc: Embedded APL":
		prefix: "apl"
		body:   "<?apl $0 ?>"
