".source.apl":
	
	Function:
		prefix: "fn"
		body:   "∇${2:R ←} ${3:X} ${1:NAME} ${4:Y}\n\t$0\n∇"
	
	Operator:
		prefix: "op"
		body:   "∇${2:R ←} ${3:X} (${4:LOP} ${1:NAME} ${5:ROP}) ${6:Y}\n\t$0\n∇"
	
	Assignment:
		prefix: "a"
		body:   "${1:⎕ }← ${2:VALUE}"
	
	
	# GNU APL extensions
	"GNU Heredoc: Plain":
		prefix: "hd"
		body:   "${1:result} ← '<?apl' '?>' ⎕INP '${2:RAWTEXT}'\n\t$0\n${2:RAWTEXT}"
	
	"GNU Heredoc: HTML":
		prefix: "html"
		body:   "${1:result} ← '<?apl' '?>' ⎕INP '${2:END-}HTML'\n\t$0\n${2:END-}HTML"
	
	"GNU Heredoc: Embedded APL":
		prefix: "apl"
		body:   "<?apl $0 ?>"
