name:        "APL"
scopeName:   "source.apl"
fileTypes:   ["apl", "dyalog"]
firstLineMatch: '^#!.*\\b(apl|dyalog)'
patterns: [
	
	# Comments
	{
		"name":  "comment.line.apl"
		"begin": "⍝"
		"end":   "$"
	}
	
	
	# Shebang
	{
		"match": "\\A#!.*$"
		"name":  "comment.line.shebang.apl"
	}
]
